body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    line-height: 1.6;
    color: #333;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 45px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

h3 {
    margin-top: 0;
}

nav {
    margin-bottom: 40px;
}

nav a {
    margin-right: 25px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.project {
    border: 1px solid #ccc;
    padding: 25px;
    margin: 30px 0;
    border-radius: 10px;
}

.project:hover {
    transform: translateY(-3px);
}

ul {
    padding-left: 20px;
}
.resume-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.resume-button:hover {
    opacity: 0.8;
}
.project img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}
